<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>host</name>
  <description></description>
  <remoteFS>/home/tushar/host-agent</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@3.1071.v0d059c7b_c555">
    <host>192.168.1.7</host>
    <port>22</port>
    <credentialsId>c715b386-3370-4fe2-ad83-8d4be408c4f2</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>host</label>
  <nodeProperties/>
</slave>